/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: #0056a6;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Navigation Styles */
nav {
    margin-top: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}
nav a:hover {
    color: #ffcb05;
}

/* Main Content Styles */
main {
    padding: 20px;
    text-align: center;
}

/* Section Styles */
section {
    margin: 40px 0;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
section h2 {
    font-size: 2em;
    color: #0056a6;
    margin-bottom: 20px;
}

/* Image Container Styles */
.image-container {
    margin: 20px 0;
    text-align: center;
}
.image-container img {
    max-width: 25%; /* Ajusta el porcentaje según sea necesario */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* List Styles */
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin: 10px 0;
    font-size: 1.2em;
}

/* Footer Styles */
footer {
    background-color: #0056a6;
    color: white;
    padding: 15px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
footer p {
    margin: 0;
    font-size: 0.9em;
}
